.page {
    background-color: rgb(129, 123, 207);
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 40;
    height: 100vh;
}

#title {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: blue;
}

#butt {
    color: rgb(207, 23, 23);
}
